/* 
    Created on : May 24, 2014, 9:46:55 PM
    Author     : gregbueno
*/

label {
	float: left;
	width: 150px;
	margin-right: 10px;
}

ul.company-info {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

ul.company-info li {
}

#contact {
	text-align: center;
}

#container {
}

#content-column-1 {
	border-right: 1px solid #CCC;
}

#content-column-2 {
}

#introduction, #contact {
	margin-bottom: 1.5em;
}

#masthead {
	padding-bottom: 0;
	margin-bottom: 1.5em;
	background-color: #8B99B9;
	background-image: linear-gradient(bottom, rgb(102, 127, 128), rgb(139, 153, 185) 80px);
	background-image: -o-linear-gradient(bottom, rgb(102, 127, 128), rgb(139, 153, 185) 80px);
	background-image: -moz-linear-gradient(bottom, rgb(102, 127, 128), rgb(139, 153, 185) 80px);
	background-image: -webkit-linear-gradient(top, rgb(102,127,128), rgb(139, 153, 185) 80px);
	background-image: -ms-linear-gradient(bottom, rgb(102, 127, 128), rgb(139, 153, 185) 80px);
	color: #FFF;
}

#masthead-title {
	margin-top: 1.5em;
}

#nav-main {
	margin-top: 1.5em;
}

#nav-main ul {
	list-style-type: none;
	li {
    	display: inline-block;
    	margin-left: 20px;
    	padding: 3px 9px;
	}
}

#panels {
	margin-bottom: 3em;
}

#searchform input[type=text] {
	border-radius: 4px;
	border: 1px solid #CCC;
}

#subtitle {
}

#title {
	margin-bottom: 0.1em;
}

.centered {
	text-align: center;
}

.entry-meta {
	background-color: #EEE;
	padding: 5px;
	margin-bottom: 1.5em;
	border-radius: 4px;
}

.entry-text {
	padding-left: 40px;
}

.img-align-right {
	float: right;
	margin-left: 10px;
}

.folio-image {
	border: 3px solid #A7A7A7;
	border-radius: 4px;
}

.form-hidden {
	display: none;
}

.four-column-single {
	border-right: 1px solid #CBCBCB;
}

.four-column-single-last {
}

.full-column-last {
	margin-bottom: 1.5em;
}

.resume-column-1 {
}

.resume-column-2 {
}

.resume-skills li {
	float: left;
	margin-right: 24px;
}

.three-column-single {
	border-right: 1px solid #CBCBCB;
}

.three-column-single-last {
}

.three-columns {
	margin-bottom: 3em;
}

.two-column-single {
	border-right: 1px solid #CBCBCB;
}

.two-column-single-last {
}

.nav-social {
	list-style-type: none;
	li {
    	display: inline-block;
    	margin-right: 6px;
	}
}

.widget_search {
	margin-bottom: 1.5em;
}

@media screen and (max-width: 992px) {
    #nav-main ul {
    	list-style-type: none;
    	li {
        	display: block;
        	margin-left: 20px;
        	padding: 3px 9px;
    	}
    }
}